<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <form method="POST" action="/display_puppy">
      <p>Name:<input type="text" name="name"></p>
      <p>Breed:<input type="text" name="breed"></p>
      <p>Age:<input type="text" name="age"></p>
      <input type="submit" value='submit' name="submit">
    </form>
  </body>
</html>