<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Display Puppy</title>
  </head>
  <body>
      <h1>Puppy</h1>
      <p>Puppy name:<%= @puppy.name %></p>
      <p>Puppy breed:<%= @puppy.breed %></p>
      <p>Puppy age:<%= @puppy.age %></p>
  </body>
</html>