<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site</h1>
    <a href="/new">Click here to List a New Puppy</a>
  </body>
</html>